* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#landing {
    background-color: white;
    position: relative;
}

hr {
    width: 10%;
    border-style: dotted none none;
    border-width: 10px;
    color: #EAF6F6;
    margin: 10rem auto;
  }

.navbar {
    width: 100%;
    font-size: 15px;
    background: linear-gradient(to right, hsl(237, 97%, 67%),  hsl(237, 97%, 54%));
    z-index: 4
}

/* Banner */
#banner {
    background: linear-gradient(to right, hsl(237, 97%, 67%),  hsl(237, 97%, 54%));
    color: white;
    position: relative;
}
html {
    scroll-behavior: smooth;
}


.wave1 {
    width: 100%;
    background: linear-gradient(to right, hsl(237, 97%, 67%),  hsl(237, 97%, 54%));
}

.sub-text {
    font-family: "Ubuntu", sans-serif;
    color: hsl(0, 0%, 80%);
    font-weight: 200;
}

.btn-one a {
    text-decoration: none;
    color: white;
}

.btn {
    font-family: 'Ubuntu', sans-serif;
    background-color: hsl(278, 82%, 58%);
    border: none;
}

.btn:hover {
    background-color: hsl(278, 82%, 53%);
    color: white;
}

.btn:active {
    background-color: hsl(278, 82%, 63%);
    font-size: 19.8px;
}

/* services */
#services {
    padding: 7% 5% 0;
}

h3 p {
    color: #8f8f8f;
}

#services i {
    color: #ef8172;
    margin-bottom: 1rem;
}

#services i:hover {
    color: #ff4c68;
}
/* tools */
#tools {
    margin-top: 10rem;
}

.tool-container img{
    height: 60px;
    width: 60px;
}
.img-container {
    width: 120px;
    height: 75px;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 10px;
    border-radius: 10px;
}

/* projects */
#projects {
    position: relative;
    top: 40px;
    z-index: 10;
}
#projects img {
    border-radius: 10px;
}

.btn-project a {
    color: white;
    text-decoration: none;
}
.btn-project:active {
    font-size: 15.8px;
    background-color: blue ;
}

.fab-icons {
    margin: 0 0 5px;
}
.fab-icons i {
    margin-right: 10px;
    color: #ef8172;
}
.fa-node, .fa-react {
    font-size: 2rem;
}
.img-col {
    overflow: hidden;
}
.img-col a img:hover {
    transform: scale(1.2);
    transition: transform 500ms ease-out;
}

/* footer */
#footer {
    position: relative;
    height: 30rem;
}
#footer img {
    position: absolute;
}
.footer-text {
    font-size: 30px;
    margin-bottom: 10px;
}
.socmed {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 10px;
    z-index: 11;
}

.footer-text + button a {
    text-decoration: none;
    color: white;
}

.btn-bottom {
    font-family: 'Ubuntu', sans-serif;
    background-color: hsl(278, 82%, 58%);
    border: none;
}
.btn-bottom a {
    color: white;
    text-decoration: none;
}

.github-text a {
    text-decoration: none;
    color: white;
}

}
.btn-bottom:active {
    background-color: hsl(278, 82%, 63%);
    font-size: 15.8px;
}

.socmed img {
    margin: 0 15px;
    width: 50px;
    transition: 0.1s;
}
.socmed a:hover img {
    transform: translateY(-10px);
}

.main-bg {
    bottom: 30vh;
    background: linear-gradient(to right, hsl(237, 97%, 67%),  hsl(237, 97%, 54%));
    position: absolute;
}
.pattern-bg {
    position: absolute;
    height: 30vh;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, hsl(237, 97%, 67%),  hsl(237, 97%, 54%));
}
/* contact.html */
#gmap_canvas {
	height: 60vh;
	width: 100%;
}

.form-btn .btn {
    font-family: "Ubuntu", sans-serif;
}

.form-btn .btn:active {
    background-color: hsl(278, 82%, 50%) !important;
    font-size: 15.8px;
}



/* media query */

@media (max-width:769px) {
    /* socmed */
    .footer-text {
        font-size: 18px;
    }
    .socmed img {
        width: 40px;
    }

    /* tools */
    .img-container img {
        height: 50px;
        width: 50px;
    }
    .img-container {
        height: 60px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }



@media  (max-width: 426px) {

    /* backgrounds */
    

    i + h3 {
        font-size: 20px;
    }

    h3 + p {
        font-size: 15px;
    }

    .socmed {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: -12rem;
        z-index: 11;
    }

    .socmed img {
        margin: 5px 5px 0;
        width: 24px;
        transition: 0.5s;
    }

    .footer-text {
        font-size: 20px;
    }
    #tools {
        margin-top: 0;
        
    }
    hr{
        margin: 2rem auto;
    }

    #projects {
        top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    #footer {
        top: 13rem;
        height: 80%;
    }

    .tools-main-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-container img {
        height: 50px;
        width: 50px;
    }
    .img-container {
        height: 60px;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media  (max-width: 320px) {


    .name {
        font-size: 30px;
    }
    .intro h3 {
        font-size: 15px;
    }

    .btn {
        width: 90px;
        height: 30px;
        font-size: 10px;
    
    }
    
    .btn:active {
        background-color: hsl(278, 82%, 63%);
        font-size: 9.8px;
    }
    

    .tools-main-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-container img {
        height: 30px;
        width: 30px;
    }
    .img-container {
        height: 40px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}